body {
      font-family: Arial, sans-serif;
      background-color: #ffffff;
      background: linear-gradient(to left, #9bc8f6, #5fffa2);
      padding: 20px;
      position: relative;
      align-items: center;
      justify-content: center;
}
