body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #59f1ff, rgb(56, 255, 225),#2667ff , #0202ffd1);
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100vh;
}

.h1{
    font-size: 70px;
}

.product-card {
  width: 500px;
  border-radius: 12px;
  overflow: hidden;
  text-align: left;
}

.product-image img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 80px;
}

.product-info {
  padding: 30px;
}

.product-info h1 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
}

.price {
  margin: 10px 0;
  font-size: 50px;
}

.Storage {
  color: #ff2926;
  font-weight: bold;
  margin-right: 8px;
  font-size: 50px;
}

.Ram {
  color: #2b2424;
  margin-right: 8px;
  font-size: 50px;
}

.Camera {
  color: #58f360;
  font-weight: bold;
}

.time {
  margin: 15px 0;
  font-size: 50px;
  color: #0565ff;
}
.Color{
      color: #6cfdff;
      font-size: 50px;
      margin-right: 8px;
}

.Screen{
     color: #731b1b;
      font-size: 50px;
      margin-right: 8px;
}

.Battery{
     color: #ff3679;
      font-size: 50px;
      margin-right: 8px
}

.Price {
  margin: 10px 0;
  font-size: 50px;
  color: #de58ff;

}

.buy-button {
  width: 800px;
  background-color: #8dffe4;
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.9s;
}


.buy-button:hover {
  background-color: #13ff95;
}

.comments-section {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.comments-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

.comment {
  border-bottom: 1px solid #eee;
  padding: 10px ;
}


.comment-header {
  justify-content: space-between;
  display: flex;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.comment p {
  font-size: 30px;
  color: #444;
  margin: 0;
}

.comment-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.full_comment {
  margin-top: 20px;
    background: linear-gradient(to right, #fc6868, #ff6d6d, #fc4c4c, #fe3737 , #ff3030);
}